
body{
   background: linear-gradient(135deg, #f8f6ff, #e2dafa, #c7c1da) !important;
   font-family: 'Trebuchet MS', sans-serif;
}
    .login-section {
      min-height: 100vh;
    }
   .login-logo{
    max-width: 350px;
   }
    .form-box {
      padding: 40px;
    }

    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;
    }

    .google-btn img {
      width: 20px;
    }

    .login-form input:focus {
      box-shadow: none;
      border-color: #382671;
    }

    .btn-login {
      background-color: #382671 !important;
      color: #fff !important;
    }

    .btn-login:hover {
      background-color: #f47323 !important;
      color: #fff !important;
    }

    .side-panel {
      background: #fff;
      color: #222;
      text-align: center;
      padding: 60px 30px;
      border-right: 1px solid #ddd;
    }

    .side-panel img {
      margin: 30px 0;
    }
    .signup-section {
          min-height: 100vh;
        }
        
    .btn-dxbnews {
      background-color: #382671 !important;
      color: #fff !important;
      width: 100% !important;
    }

    .btn-dxbnews:hover {
      background-color: #f47323 !important;
      color: #fff;
    }
    .form-control-lg{
      font-size: 1rem !important;
    }
    .form-control-lg{
      font-size: 1rem !important;
    }
    .form-select-lg{
      font-size: 1rem !important;
    }
     /* Add this new wrapper for auth pages only */
    .auth-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;

    /* background-color: #f5f6fa; */
    }

.auth-container {
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

/* Left welcome panel (same as before) */
.auth-left {
  flex: 1;
  background: #fff;
  padding: 60px 30px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.auth-left img {
  max-width: 350px;
  margin-bottom: 20px;
}

.auth-left h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}

.auth-left p {
  font-size: 15px;
  margin-bottom: 6px;
}

/* Right form section */
.auth-right {
  flex: 1;
  padding: 50px;
}
 @media (max-width: 468px) {
  .d-none-m{
    display: none !important;
  }
 }
    @media (max-width: 768px) {
      .side-panel {
        padding: 40px 20px;
      }

      .form-box {
        padding: 30px 20px;
      }
      .auth-wrapper{
    padding: 0;
  }
  .auth-container {
  
    flex-direction: column;
  }

  .auth-left {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .auth-right {
    padding: 30px 20px;
  }
    }

   

