<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dxb News Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/dxb-style.css" />
  
</head>
<body>
 <!-- Background Video --> 
<div class="container py-3 login-section">
  <div class="row g-0">
    <!-- Left: Welcome Panel -->
    <div class="col-lg-8 side-panel d-flex flex-column justify-content-center align-items-center rounded">
        <img src="{% static 'images/artdomain-logo.png' %}" alt="Logo" class="login-logo">
      <h2 class="fw-bold">Welcome to our community</h2>
      <p class="mb-2">Personalized, updated daily, and beautifully presented.</p>
      <p class="mb-3">Sign in to find your dream ways of earning and gain full access to platform functions.</p>
    </div>
    <!-- Right: Login Form -->
    <div class="col-lg-4 d-flex align-items-center bg-white rounded">
      <div class="form-box w-100">
        <h2 class="fw-bold">Login</h2>
        <p class="text-muted">Measure the performance of cryptos, get big profits!</p>

        <div class="google-btn my-3">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google">
          <span>Sign in with Google</span>
        </div>

        <div class="text-center text-muted my-3">or Sign in with Email</div>

        <form class="login-form">
          <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="mail@website.com" required>
          </div>

          <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Min. 8 character" required>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <input type="checkbox" id="rememberMe">
              <label for="rememberMe">Remember me</label>
            </div>
            <a href="#" class="text-decoration-none text-primary">Forget password?</a>
          </div>

          <button type="submit" class="btn btn-login w-100">Login</button>
          <p class="text-center mt-3">Not registered yet? <a href="signup.html" class="text-decoration-none text-primary">Create an Account</a></p>
        </form>
      </div>
    </div>

    
  </div>
</div>

</body>
</html>
