{% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">

<div class="post_container mb-3">
  <div class="post_row d-flex justify-content-between">
    <div class="user_profile d-flex align-items-center">
      <img src="http://127.0.0.1:8001{{ post.profile_picture }}" class="pd_image me-2">
      <div>
        <p>{{ post.username }}</p>
        <span>{{ post.created_at }}</span> · <span>{{ post.visibility }}</span>
      </div>
    </div>
    <div class="dropdown">
      <a data-bs-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Delete</a></li>
        <li><a class="dropdown-item" href="#">Hide Post</a></li>
      </ul>
    </div>
  </div>
  {% if post.title %}<p class="post_text">{{ post.title }}</p>{% endif %}
  {% if post.caption %}<p class="post_text">{{ post.caption }}</p>{% endif %}
  {% if post.media %}
    {% for media_item in post.media %}
      {% with media_item|lower as media_lower %}
        {% if '.jpg' in media_lower or '.png' in media_lower %}
          <img src="{{ media_item }}" class="post_img mb-2">
        {% elif '.mp4' in media_lower %}
          <video controls class="post_img mb-2">
            <source src="{{ media_item }}">
          </video>
        {% endif %}
      {% endwith %}
    {% endfor %}

  {% endif %}
  <div class="post_row d-flex justify-content-between">
    <div class="activity_icon d-flex gap-3">
      <div><img src="{% static 'images/like-blue.png' %}">{{ post.reaction_count }}</div>
      <div><img src="{% static 'images/comments.png' %}">{{ post.comment_count }}</div>
      <div><img src="{% static 'images/share.png' %}">{{ post.share_count }}</div>
    </div>
    <div class="post_profile_icon d-flex align-items-center">
      <img src="{{ post.profile_picture }}"> <i class="fa fa-caret-down"></i>
    </div>
  </div>
</div>
